[
    {derp, [
        {port, 443},
        {ws_port, 80},
        {max_packet_size, 65536},
        {keepalive_interval, 60000},
        {rate_limit_bytes_per_sec, 1048576},
        {rate_limit_burst, 2097152}
    ]},
    {kernel, [
        {logger_level, info},
        {logger, [
            {handler, default, logger_std_h, #{
                level => info,
                formatter => {logger_formatter, #{
                    single_line => true,
                    max_size => 4096,
                    template => [time, " ", level, " ", mfa, ":", line, " ", msg, "\n"]
                }}
            }}
        ]}
    ]}
].
